{% extends 'header.html' %}
{% block head %}
{{super()}}
    <meta name="description" content="Watch the evolution of {{username}} Myanimelist time">
{% endblock %}
{% block title %}{{username}} -{% endblock %}
{% block form %}
{% endblock %}
{% block user %}
<br>
<div id="center">
        <a href="https://myanimelist.net/profile/{{username}}" target="_blank"><img src="{{user['image_url']}}" id="profile" alt="Myanimelist {{username}}'s profile"></a>
</div>
<br>
<div class="btndiv">
    <a href="refresh/" class="btn">
        Update
    </a>
    <a id="set" class="btn">
        Set this profile to Profile button
    </a>
</div>
<br>
<div>
    <p>
        Hello 
        <a href="https://myanimelist.net/profile/{{username}}" target="_blank" alt="Myanimelist {{username}}'s profile">
        {{username}}
        </a>
    </p>
    <p>
        if you want use your data : <a href="/api/v1/{{username}}">Here </a>
    </p>
</div>

{% endblock %}