{% extends 'header.html' %}
{% block head %}
{{super()}}
    <meta name="description" content="Watch the evolution of {{username}} Myanimelist time on Mal-time">
{% endblock %}
{% block title %}{{username}} -{% endblock %}
{% block form %}
{% endblock %}
{% block user %}
<a href="https://myanimelist.net/profile/{{username}}" target="_blank"><img src="{{user['image_url']}}" id="profile"></a>
<p>
    Hello 
    <a rel="noreferrer" href="https://myanimelist.net/profile/{{username}}" target="_blank">
    {{username}}
</a></p>

<p>
    if you want use your data : <a href="/api/{{username}}">Here </a>
</p>


{% endblock %}